body {
    background: #1DB954
}

.App {
    text-align: center;
    font-family: sans-serif;
  }
  
  ol {
    list-style-position: inside;
    color: white;
    width: 1000px;
    margin: auto;
    padding-top: 20px;
  }
  
  ol li {
    padding: 15px;
    background: #000;
  }

